@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,700&family=Lato&family=Martian+Mono:wght@300&family=Poppins:wght@300;600;800&display=swap');

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #171717;
  color: #ededed;
  font-family: 'Arimo', sans-serif;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.main {
  padding-left: 50px;
  padding-right: 50px;
}

.navbar,
.navbar-detail {
  background-color: #171717;
  color: white;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0 35px 0 35px;
  border-bottom: 1px solid #444;
  text-shadow: 1px 1px 1px #444;
  top: 0;
  z-index: 2;
}

.game-title {
  padding-left: 20px;
  padding-top: 10px;
  color: #bbb;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.navbar-detail-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.navbar-item a {
  color: white;
  text-decoration: none;
}

.card {
  width: 270px;
  margin-bottom: 25px;
  background-color: #373a40;
  color: white;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
}

.card:hover {
  transform: scale(1.06);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.top {
  margin-top: 100px;
  margin-bottom: 30px;
}

.col {
  flex: 25%;
  display: flex;
  justify-content: center;
}

.row-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
}

.col-top {
  flex: 33.33%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.card-top-img {
  width: 90%;
  margin-bottom: 25px;
  border-radius: 3px;
  transition: 0.5s;
  cursor: pointer;
}

.card-top-img:hover {
  transform: scale(1.06);
}

.top h1 {
  text-align: center;
}

.icon {
  font-size: 25px;
  margin-left: 25px;
  cursor: pointer;
}

.card-img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.col-top .card {
  width: 80%;
}

.col-top .card .card-img {
  height: auto;
}

.card-item {
  padding: 0 20px 10px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "----";
}

.card-title {
  font-size: 20px;
}

.card-extra {
  display: flex;
  justify-content: space-between;
}

.genre {
  padding: 0 10px 0 10px;
  background-color: #7a8288;
  border-radius: 10px;
  color: rgb(37, 37, 37);
  font-size: 13px;
  font-weight: 600;
  align-items: center;
  display: flex;
}

.icon svg {
  font-size: 20px;
}

.pagination {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.pagination li {
  cursor: pointer;
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #7a8288;
  margin: 0 4px;
  margin-bottom: 10px;
}

.pagination li:hover {
  background-color: #7a8288;
  color: white;
}

.selected {
  background-color: #7a8288;
  color: white;
}

/* Detail Page */

.detail-page {
  margin-top: 50px;
}

.detail-row {
  display: flex;
}

.detail-col1 {
  flex: 30%;
  padding: 50px;
}

.detail-col2 {
  flex: 70%;
  padding: 50px;
}

.detail-col1 a {
  color: white;
  padding: 10px;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  background-color: #4a4d50;
}

.detail-col1 a:hover {
  background-color: #3f3f3f;
}

.information-row {
  display: flex;
}

.information-col {
  flex: 33%;
}

.information-col span {
  color: #7a8288;
}

.screenshots {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.screenshots img {
  width: 300px;
  height: 200px;
  margin-right: 10px;
  margin-top: 10px;
}

.system-row {
  display: flex;
}

.system-col {
  flex: 50%;
}

.system-col span {
  color: #7a8288;
}


/* Detail Page */

@media (max-width: 640px) {
  .row-top {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }

  .top h1 {
    font-size: 25px;
  }

  .main {
    padding: 0;
  }

  .detail-col1,
  .detail-col2 {
    padding: 10px;
  }

  .game-title {
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .pagination {
    display: block;
  }

  .navbar-detail {
    padding-left: 0;
    padding-right: 10px;
  }

  .detail-row {
    flex-direction: column;
  }

  .detail-col1 img {
    width: 100%;
  }
}

@media screen and (min-width: 1500px) {
  .detail-col1 img {
    width: 100%;
  }
}
